@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: oklch(.905 .182 98.111);
    --primary-600: oklch(.8206 0.1653 98.111);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary: oklch(.905 .182 98.111);
        --primary-600: oklch(.8206 0.1653 98.111);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
